@import url("https://brand.arizona.edu/sites/default/files/ua-banner/ua-web-branding/ua-fonts/milo.css");
/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}
li {
    list-style: none;
    list-style-type: none;
}
ol li {
list-style: inherit;
list-style-type: inherit;
}
ul, ol {
margin: 1em 0;
padding-left: 0px;
}
ul {
list-style: none;
overflow: hidden;
}
.modal li {
position: relative;
font-size: 17px;
line-height: 25px;
margin: 25px 0;
}
ul ul, ul ol, ol ol, ol ul {
padding-left: 17px;
margin: 1px 0;
}
ul li::before {
position: absolute;
top: 8px;
left: -15px;
width: 0px;
height: 0px;
border-top: 8px solid #395180;
border-left: 8px solid rgba(0, 0, 0, 0);
content: '';
}
ul ul li::before, ol ul li::before {
position: absolute;
top: 8px;
left: -15px;
width: 0px;
height: 0px;
border-top: 8px solid #AB0520;
border-left: 8px solid rgba(0, 0, 0, 0);
content: '';
}
ul.nav li::before {
border:none;
}
p {
margin: 25px 0;
line-height: 21px;
font-size: 17px;
}
p:first-child {
margin:0;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}
.list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}
tr#office-last {
    height: 40px;
    vertical-align: top;
}
.titleButton.maximize {
    display: none;
}
.name-container {
position: absolute;
bottom: -56px;
text-align: center;
width: 100%;
}

h3.data-name.fadeOutUp.animated {
font-size: 40px;
color: white;
font-weight: bold;
text-shadow: rgba(51, 51, 51, 0.8) 1px 1px;
top: -100px;
margin: 0;
position: relative;
padding: 0;
    z-index:-1;
}

.animated {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
@-webkit-keyframes fadeOutUp {
  0% {
    opacity: 1;
    z-index:10000000;
  }
  50% {
    opacity: 1;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
    z-index: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
    z-index:-1;
  }
}

@keyframes fadeOutUp {
  0% {
    opacity: 1;
    z-index:10000000;
  }
  50% {
    opacity: 1;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
    z-index: 1;
  }
  100% {
    z-index:-1;
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
}

.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
          animation-name: fadeOutUp;
}
/* ==========================================================================
  Map
   ========================================================================== */
.esriSimpleSliderVertical .esriSimpleSliderIncrementButton {
    border-bottom: 1px solid #57585A !important;
    -webkit-border-radius: 0px 0px 0 0 !important;
    border-radius: 0px 0px 0 0 !important;
    background: rgba(255, 255, 255, .5) !important;
    border-top-left-radius: 4px !important;
    border: 0px solid #333 !important;
    border-top-right-radius: 4px !important;
    color: #57585A !important;
    -webkit-box-shadow: 10px 3px 71px -8px rgba(51,51,51,0.5) !important;
    -moz-box-shadow: 10px 3px 71px -8px rgba(51,51,51,0.5) !important;
    box-shadow: 10px 3px 71px -8px rgba(51,51,51,0.5) !important;
    margin-bottom: 3px;
    font-weight: bold;
}
.esriPopup .titlePane {
    background-color: #f7f7f7 !important;
    color: #333333 !important;
    line-height: 20px !important;
    padding-left: 6px !important;
    border-radius: 5px 5px 0px 0px !important;
    -webkit-border-radius: 10px 10px 0px 0px !important;
    cursor: default !important;
    padding: 10px !important;
    border-width: 1px 1px 0px 1px;
    border-color: hsl(0, 0%, 90%);
    border-style: solid;
}
.esriPopup .contentPane {
    position: relative;
    max-height: 300px;
    overflow: auto;
    padding: 10px 6px 6px 10px;
    background-color: hsl(0, 0%, 97%);
    color: hsl(0, 0%, 20%);
    border-width: 0px 1px 0px 1px;
    border-color: hsla(0, 0%, 0%, 0);
    border-style: solid;
}
.esriPopup .sizer {
    position: relative;
    width: 270px;
    z-index: 1;
    border-width: 0 0px;
    border-color: hsl(0, 0%, 97%);
    border-style: solid;
}
.esriPopup .esriPopupWrapper {
    border-width: 3px;
    box-shadow: 0 0 1.75em hsl(0, 0%, 47%) !important;
    -webkit-box-shadow: 0 0 1.75em hsl(0, 0%, 47%) !important;
    border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    border-radius: 10px 10px 10px 10px !important;
    -webkit-border-radius: 10px 10px 10px 10px !important;
    border-style: solid;
    border-color: hsl(0, 0%, 97%);
    border-width: 3px;
}
.telemedicine.esriPopup .esriPopupWrapper {
border-color:rgba(7, 104, 115, 1);
}
.telemedicine.esriPopup .pointer,
.telemedicine.esriPopup .outerPointer {
border-color:rgba(7, 104, 115, 1);
}
.telemedicine.esriPopup .titleButton.close {
    background: url(../img/x-telemedicine.svg);
}
.telemedicine.esriPopup .titleButton.next {
    background-image: url(../img/right-corner-telemedicine.svg);
}
.telemedicine.esriPopup .titleButton.prev {
    background-image: url(../img/left-corner-telemedicine.svg);
}
.extension.esriPopup .esriPopupWrapper {
border-color: hsl(194, 13%, 43%);
}
.extension.esriPopup .pointer,
.extension.esriPopup .outerPointer {
border-color:rgb(73, 89, 94);
}
.extension.esriPopup .titleButton.close {
    background: url(../img/x-extension.svg);
}
.extension.esriPopup .titleButton.next {
    background-image: url(../img/right-corner-extension.svg);
}
.extension.esriPopup .titleButton.prev {
    background-image: url(../img/left-corner-extension.svg);
}
.sites.esriPopup .esriPopupWrapper {
border-color:rgba(183, 85, 39,1);
}
.sites.esriPopup .pointer,
.sites.esriPopup .outerPointer {
border-color:rgba(183, 85, 39,1);
}
.sites.esriPopup .titleButton.close {
    background: url(../img/x-sites.svg);
}
.sites.esriPopup .titleButton.next {
    background-image: url(../img/right-corner-sites.svg);
}
.sites.esriPopup .titleButton.prev {
    background-image: url(../img/left-corner-sites.svg);
}
.academic.esriPopup .esriPopupWrapper {
border-color:#AB0520;
}
.academic.esriPopup .pointer,
.academic.esriPopup .outerPointer {
border-color:#AB0520;
}
.academic.esriPopup .titleButton.close {
    background: url(../img/x-academic.svg);
}
.academic.esriPopup .titleButton.next {
    background-image: url(../img/right-corner-academic.svg);
}
.academic.esriPopup .titleButton.prev {
    background-image: url(../img/left-corner-academic.svg);
}
.news.esriPopup .esriPopupWrapper {
border-color:#0c234b;
}
.news.esriPopup .pointer,
.news.esriPopup .outerPointer {
border-color:#0c234b;
}
.news.esriPopup .titleButton.close {
    background: url(../img/x-news.svg);
}
.news.esriPopup .titleButton.next {
    background-image: url(../img/right-corner-news.svg);
}
.news.esriPopup .titleButton.prev {
    background-image: url(../img/left-corner-news.svg);
}
.agcenters.esriPopup .esriPopupWrapper {
border-color:rgba(92, 135, 39,1);
}
.agcenters.esriPopup .pointer,
.agcenters.esriPopup .outerPointer {
border-color:rgba(92, 135, 39,1);
}
.agcenters.esriPopup .titleButton.close {
    background: url(../img/x-agcenters.svg);
}
.agcenters.esriPopup .titleButton.next {
    background-image: url(../img/right-corner-agcenters.svg);
}
.agcenters.esriPopup .titleButton.prev {
    background-image: url(../img/left-corner-agcenters.svg);
}
.esriPopup .titleButton.prev {
    right: 65px !important;
    background-position: 0px 0 !important;
    width: 16px !important;
    height: 19px !important;
    background-size: 15px auto !important;
    top: 7px !important;
    background-image: url(../img/left-corner-news.svg);
}
.esriPopup .titleButton.next {
    right: 39px !important;
    background-position: 0px 0 !important;
    width: 16px !important;
    height: 19px !important;
    background-size: 15px auto !important;
    top: 7px !important;
    background-image: url(../img/right-corner-news.svg);
}
.esriPopup .pointer, .esriPopup .outerPointer {
    background: hsl(0, 0%, 97%);
    display: none;
    height: 16px;
    position: absolute;
    width: 16px;
    z-index: 0;
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    box-shadow: 0 0 0.75em hsl(0, 0%, 47%);
    -webkit-box-shadow: 0 0 0.75em hsl(0, 0%, 47%);
    border-width: 0 3px 3px 0;
    border-style: solid;
    border-color: hsl(0, 0%, 97%);
}
.esriPopup .titleButton.close {
    right: 3px !important;
    background-position: 0 0 !important;
    width: 20px !important;
    height: 20px !important;
    background-repeat: no-repeat !important;
    background-size: 13px !important;
    top: 8px !important;
    background: url(../img/x-ash.svg);
}
.esriPopup .actionsPane {
    padding: 2px 10px 4px 10px;
    background-color: hsl(0, 0%, 97%);
    border-radius: 0 0 10px 10px !important;
    -webkit-border-radius: 0 0 10px 10px !important;
    position: relative;
    border-color: hsla(0, 0%, 0%, 0)!important;
}
div#map-canvas_zoom_slider {
    position: fixed;
    width: 40px;
    top: 48px;
    right: 5px;
    color: hsl(0, 100%, 100%);
    font-size: 30px;
    line-height: 1em;
    z-index: 9;
    left: auto !important;
    background: transparent;
    border-color: rgba(57, 81, 128,0);
}
img.ua-brand-a {
    height: 25px;
    width: 27px;
}
#map-canvas{
    background-color:#FFFFFF;
}
.esriPopup a {
    color: #AB0520 !important;
    text-decoration: none !important;
}
.esriPopup .titlePane {
    background-color: hsl(0, 0%, 97%) !important;
    color: hsl(0, 0%, 20%) !important;
    line-height: 20px !important;
    padding-left: 6px !important;
    cursor: default !important;
    padding: 10px !important;
    border-width: 0px;
    border: none !important;
    border-radius: 10px;
    border-radius: 10px 3px !important;
    -webkit-border-radius: 7px 7px 0px 0px !important;
}
.esriSimpleSliderVertical .esriSimpleSliderDecrementButton {
    -webkit-border-radius: 0 0 0px 0px !important;
    border-radius: 0 0 4px 4px !important;
    background: hsla(0, 100%, 100%, 0.6) !important;
    color: hsl(0, 0%, 20%);
    font-weight: bold;
}
.esriSimpleSliderDisabledButton, .esriSimpleSliderDisabledButton:active, .esriSimpleSliderDecrementButton.esriSimpleSliderDisabledButton:hover {
    background-color: rgba(73, 89, 94,.6) !important;
    color: #57585A !important;
    cursor: pointer !important;
}
/*.esriSimpleSliderDecrementButton:hover {*/
    /*background-color: #49595E !important;*/
/*}*/
.esriSimpleSlider div {
    width: 38px !important;
    height: 30px;
    font-size: 24px;
    font-family: MiloWeb, Verdana, Geneva, sans-serif;
    line-height: 25px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
h1 {
    color: #395180;
    letter-spacing: 0.8px;
    font-weight: normal;
    font-size: 60px;
    font-size: 2.9em;
    font-family: MiloSerifWeb, TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
    line-height: 1;
    margin: 0 0 1em 0;
    text-transform: uppercase;
    word-wrap: none;
    position: relative;
    z-index: 1;
}

h3 {
    color: #395180;
    font-weight: 600;
    line-height: 1.25em;
font-family: MiloSerifWeb, TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
}
h2.big-red {
color: #AB0520;
margin-top: 0px;
margin-bottom: 15px;
font-size: 17px;
}
h2.big-red {
    color: #076873;
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 19px;
    font-weight: bold;
}
h4.small-blue {
margin: 20px 0 0 0;
}
.flexslider h4 {
    float: left;
    color: white;
    margin-right: 10px;
    padding: 2px 0;
    margin: 12px 2px;
}
.color-white{
color:white;
}
header {
    padding-top: 0px;
    width: 100%;
    min-height: 37px;
    position: fixed;
    z-index: 100;
    max-height: 40px;
}
hr {
    margin: 50px 0;
    border: 0;
    border-top: 2px solid hsl(46, 21%, 88%);
}
footer {
padding: 50px 0;
}
footer i {
color: #333;
font-size: 1.667em;
margin-right: 12px;
position: relative;
top: 3px;
}
footer hr {
border-top: 1px solid #333;
margin: 30px 0;
}

footer ul.inline li:not(:first-child){
    display: inline;
list-style: none;
padding-left: 12px;
padding-right: 12px;
margin-left: 0;
border-left: 1px solid #333;
}
footer ul.inline li:last-child {
padding-right: 0px;
}

footer ul li:before {
    border:none;
}
.light-brick-bg {
    background-color: #E6E3D9;
}
.overmap-content-map .centered {
position: absolute;
left: 5%;
top: 10%;
transform: translate(0%, -10%);
width: 90%;
height: 50%;
}
.impact-title {
    height: 40px;
    max-height: 50px;
    overflow: hidden;
    padding-top: 5px;
    padding: 5px 7px;
}
.impact-title.map-title {
background-color: #8F1124;
}
.impact-title img {
    max-width: 150px;
    float: right;
    margin: 8px 0;
    width: 100%;
}
.sanserif{
font-family: MiloWeb, Verdana, Geneva, sans-serif;
}
.card img {
max-width: 100%;
height: auto;
margin: 0px 0 15px 0;
}
.l-no-gutter{
padding: 0 0 0 0 !important;
}
.card {
    position: relative;
    /* overflow: hidden; */
    /* margin: 0px 0; */
    padding: 0 0px;
    padding-bottom: 0px;
    border: 0px solid hsl(0, 0%, 80%);
    border-color: hsla(0, 0%, 0%, 0);
    background: hsla(0, 0%, 0%, 0);
    -webkit-box-shadow: 1px 1px 2px 0 hsla(0, 0%, 82%, 0.1);
    -moz-box-shadow: 1px 1px 2px 0 hsla(0, 0%, 82%, 0.1);
    box-shadow: 1px 1px 2px 0 hsla(0, 0%, 82%, 0.1);
    color: hsl(0, 0%, 40%);
    list-style-type: none;
    list-style-image: none;
    margin: -1px 0 0 0;
}
.more-impact .card {
    background: hsl(0, 100%, 100%);
    color: hsl(0, 0%, 40%);
    list-style-image: none;
    list-style-type: none;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border: 1px solid;
    background: hsl(0, 100%, 100%);
    border: 1px solid hsl(0, 0%, 80%);
    border-color: hsl(0, 0%, 89%) hsl(60, 1%, 74%) hsl(60, 1%, 74%) hsl(0, 0%, 89%);
    -webkit-box-shadow: 1px 1px 2px 0 hsla(0, 0%, 82%, 0.2);
    -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
    box-shadow: 1px 1px 2px 0 hsla(0, 0%, 82%, 0.2);
    padding: 10px 10px 10px 10px;
}
section.layer-console {
    width: 170px;
}
.photoshop-transparency {
background-image: url(https://brand.arizona.edu/sites/all/themes/brand/img/our-impact-background.png);
background-repeat: repeat-x;
}
.grid-padding{
padding:0px 15px;
}
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}
.no-margin {
margin: 0;
}
.no-padding {
    padding: 0;
}
.first {
margin-top: 0px;
}
article.row{
}
.ui {
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
cursor: pointer;
}
a.article:hover {
background-color: #E6E3D9;
}
a.article {
    padding: 0px 0;
    margin: 0px 0;
}
#news-articles img{
width:100%;
height:auto;
}
#news-articles a:hover img {
    opacity: .9;
}
.red-bg{
background-color:#ab0520;
}

.blue-bg{
background-color:#0C234B;
}
.lavendar-bg {
    background-color: #000136;
}
.lavendar-bg.card {
    border-top: none;
}
tr#office-first {
font-weight: bold;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
/*font-family: inherit;*/
font-weight: 500;
line-height: 1.1;
/*font-family: MiloWeb;*/
letter-spacing: 1px;
font-weight: normal;
}

h4, .h4 {
font-size: 15px;
text-transform: uppercase;
color: #333;
letter-spacing: 0.7px;
}
h4, .h4 {
    font-size: 15px;
     text-transform: none;
    color: #49595E;
    letter-spacing: 0.7px;
    font-family: MiloSerifWeb, TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
}
h4.header-title {
    font-size: 24px;
    letter-spacing: 1.4px;
    margin-top: 10px;
    text-transform: uppercase;
    line-height: 1.2;
}
h6, .h6 {
    font-size: 11px;
    text-transform: uppercase;
    color: #333;
    letter-spacing: 0.7px;
    font-weight: bold;
    margin: 12px 0px 0 0;
}
.ua-home-logo{

background: transparent url(/sites/all/themes/custom/ua_theme/images/logo.png) no-repeat 10% 50%;
background-image: url(/sites/all/themes/custom/ua_theme/images/ua-logo.svg),none;
background: transparent url(../img/logo.png) no-repeat 10% 50%;
background-image: url(../img/ua-logo.svg),none;
width: 196px;
height: 45px;
display: inline-block;
    text-indent:-100%;
}
label.centered-text {
text-align: center;
width: 100%;
}
#site-name{
    font-size: 1px;
    margin:0;
}
.search-toggle i {
font-size: 23px;
color: hsl(0, 100%, 100%);
padding: 12px;
}
.search-toggle i:hover {
opacity: .6;
}
i.ua-brand-print {
    font-size: 29px;
    margin: 12px;
}

a, .ui-link, .ui-link:hover, a.ui-link:hover{
cursor:pointer;
}

.ui{
-moz-user-select: none;
  -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/*.impact-title{ display:none; }*/
#map-canvas{
width:100%;
/*height:600px;*/
transition: height .4s ease;
position: fixed;
}

#over_map img {
opacity:0;
}
#over_map img, .impact-splash-image {
width: 100%;
/* height: 600px; */
max-width: 670px;
}
.impact-splash-image {
text-indent: -100%;
background-image: url(../img/splash-text.svg);
overflow: hidden;
background-repeat: no-repeat;
background-position: center;
}
.impact-splash-image h1{
font-size:1px;
}
.impact-splash-image h3{
font-size:1px;
}
.col-centered{
    float: none;
    margin: 0 auto;
}
body {
font-size: 14px;
line-height: 1.42857143;
color: #333;
background-color: #FFF;
max-width: 100%;
overflow-x: hidden;
position: relative;
font-family: MiloWeb, Verdana, Geneva, sans-serif;
}
.stop-scrolling {
 overflow-y:hidden;
  height:100%;
margin:0; padding:0; overflow-y:hidden;
    }

body.stop-scrolling {
      height: 100%;
      overflow: hidden;
    }
#leftDrawer {
    /* height: 513px; */
    /* width: 270px; */
    background: #FFF;
    position: absolute;
    left: -225px;
    z-index: 99;
    transition: all .2s ease;
    top: 50px;
    max-width: 170px;
    background: transparent;
    -webkit-box-shadow: 10px 3px 71px -8px rgba(51,51,51,0.2);
    -moz-box-shadow: 10px 3px 71px -8px rgba(51,51,51,0.2);
    box-shadow: 10px 3px 71px -8px rgba(51,51,51,0.2);
}
/*#map-canvas{*/
    /*height: 1859px;*/
/*}*/
/*.overmap-content-map{*/
    /*height: 1859px;*/

/*}*/
/*section.spacer {*/
    /*height: 1859px;*/
/*}*/
#leftDrawer.left-reveal {
left: -170px;
}

#rightDrawer.right-reveal {
right: -335px;
}
#rightDrawer {
    top: 50px;
    height: 497px;
    width: 210px;
    /* background: #FFF; */
    position: absolute;
    right: -310px;
    z-index: 99;
    transition: all .2s ease;
    background-size: 100%;
    background-repeat: no-repeat;
}
#rightDrawer {
    top: 50px;
    height: auto;
    width: 224px;
    /* background: hsl(0, 100%, 100%); */
    position: absolute;
    right: -310px;
    z-index: 99;
    transition: all .2s ease;
    background-size: 100%;
    background-repeat: no-repeat;
    -webkit-box-shadow: 10px 3px 71px 8px hsla(0, 0%, 20%, 0.2);
    -moz-box-shadow: 10px 3px 71px 8px rgba(51,51,51,0.2);
    box-shadow: 10px 3px 71px 8px hsla(0, 0%, 20%, 0.2);
}
td.table-label {
/* font-size: 15px; */
/* text-transform: uppercase; */
color: #333;
letter-spacing: 0.7px;
font-weight: bold;
}
td.table-data {
}
table {
background-color: rgba(0, 0, 0, 0);
width: 100%;
}
.help {
    color: white;
    padding: 10px 0;
    height: 35px;
    margin: 0;
}
.help i{
    color:white;
    font-size:24px;
}
.icons-toggle label {
    color: hsl(0, 100%, 100%);
    display: inline-block;
    margin-bottom: 0px;
    font-weight: normal;
    cursor: pointer;
    font-size: 11px;
    letter-spacing: 0.8px;
    vertical-align: top;
    width: 170px;
    height: 35px;
}


.slider {
height: 40px;
background: #ab0520;
position: fixed;
bottom: 0;
}
div#up-down {
    position: relative;
    top: 0px;
    -webkit-transition: all ease-out .3s;
       -moz-transition: all ease-out .3s;
         -o-transition: all ease-out .3s;
            transition: all ease-out .3s;
        }
div#up-down.bottom-reveal  {
    position:relative;
    top: -40px;
}
#rightDrawer a.up-down-pointer {
    height: 40px;
    width: 100%;
    background: #333333;
    z-index: 100;
    right: 0px;
    bottom: 0px;
    display: block;
    padding: 0px 4px;
    font-size: 27px;
    text-decoration: none;
    color: white;
    border-radius: 0 0 0 0;
    border-right: none;
    /* padding: 10px; */
    position: inherit;
}
a.up-down-pointer.active {
    top: 0 !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
a.up-down-pointer {
    position: fixed;
    height: 40px;
    /*width: 50%;*/
    background: #333333;
    z-index: 100;
    right: 0px;
    bottom:0px;
    display: table-cell;
    padding: 0px 4px;
    font-size: 23px;
    text-decoration: none;
    color: white;
    border-radius: 0 0 0 0;
    border-right: none;
}
span.pointer-text {
    font-size: 12px;
    font-weight: bold;
    float: right;
    display: inline-block;
    padding: 12px 0px 10px 5px;
}
#rightDrawer a i{
    font-size: 19px;
    padding: 12px 15px;
    float: right;
    display: inline-block;
    color: rgb(111, 134, 141);
}
#rightDrawer a.up-down-pointer i {
-moz-transform: scale(1) rotate(180deg) translate(0px, 0px) skew(0deg, 0deg);
-webkit-transform: scale(1) rotate(180deg) translate(0px, 0px) skew(0deg, 0deg);
-o-transform: scale(1) rotate(180deg) translate(0px, 0px) skew(0deg, 0deg);
-ms-transform: scale(1) rotate(180deg) translate(0px, 0px) skew(0deg, 0deg);
transform: scale(1) rotate(180deg) translate(0px, 0px) skew(0deg, 0deg);
transition: transform 1s;
}
.show-more a i{
    font-size: 19px;
    padding: 12px 15px;
    float: right;
    display: inline-block;
    color: rgb(111, 134, 141);
}
.show-more a.up-down-pointer i {
-moz-transform: scale(1) rotate(180deg) translate(0px, 0px) skew(0deg, 0deg);
-webkit-transform: scale(1) rotate(180deg) translate(0px, 0px) skew(0deg, 0deg);
-o-transform: scale(1) rotate(180deg) translate(0px, 0px) skew(0deg, 0deg);
-ms-transform: scale(1) rotate(180deg) translate(0px, 0px) skew(0deg, 0deg);
transform: scale(1) rotate(180deg) translate(0px, 0px) skew(0deg, 0deg);
transition: transform 1s;
}
.show-more.down a.up-down-pointer i {
    -moz-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
    -webkit-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
    -o-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
    -ms-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
    transform: scale(1) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
    transition: transform 1s;
}

.read-more {
    font-weight: bold;
    color: #AB0520;
    /* float: right; */
    text-transform: uppercase;
    font-size: 11px;
}

h5, .h5 {
    font-family: MiloWeb;
    color: hsl(200, 2%, 38%);
    font-size: 16px;
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: 0px;
}
p.summary {
font-size: 14px;
font-family: MiloWeb-Medium;
color: #606263;
}
#over_map {
position: absolute;
top: 0px;
left: 0px;
bottom:0px;
right:0px;
z-index: 101;
max-width:100%;
}
.we-are {
margin: 0;
padding: 0;
}
.overmap-content-map {
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    /*padding: 21% 20%;*/
    background: url(../img/SPLASH-PAGE-IMAGE.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    /*padding: 9% 0%;*/
}
#reveal-map span.close-link i {
    font-size: 30px;
    font-weight: 200;
}
#reveal-map span.close-link p {
    margin-right: 30px;
    margin-bottom: 0px;
    line-height: 29px;
    margin-top: 5px;
}
#reveal-map span.close-link {
color: white;
text-transform: uppercase;
padding: 0px 20px 60px;
vertical-align: top;
line-height: 49px;
width: 100%;
}

h3, .h3 {
    font-size: 24px;
    line-height: 1.4em !important;
}
.reveal{
display:none;
}
.share-options i {
font-size: 26px;
/* text-shadow: #333333 0px 0px; */
/* color: white; */
border: 1px solid #E6E3D9;
}
#newsletter-sub.btn {
color: #0c234b;
background-color: #B8CED0;
border-color: #B8CED0;
border-radius: 0;
margin: 20px 0;
width: 100%;
text-transform: uppercase;
}
#more-news-btn.btn {
color: #0C234B;
background-color: #B8CED0;
border-color: #B8CED0;
border-radius: 0;
margin: 20px 25%;
text-transform: uppercase;
width: 50%;
}
.btn-outline {
color: white;
background-color: hsla(0, 0%, 0%, 0);
border-color: white;
}

.relative{
position:fixed;
top: 0;
bottom: 0;
right: 0;
left:0;
}
section.spacer {

}
section.over-scroll {
z-index: 99;
background: hsl(0, 100%, 100%);
overflow: auto;
position: absolute;
top: 100%;
left: 0px;
right: 0px;
bottom: auto;
height: 100%;
margin-top: 40px;
-webkit-transition: all .3s ease-in-out;
-moz-transition: all .3s ease-in-out;
-ms-transition: all .3s ease-in-out;
-o-transition: all .3s ease-in-out;
transition: all .3s ease-in-out;
padding-bottom: 40px;
}
footer ul.small a {
color: hsl(0, 0%, 20%);
text-decoration: none;
font-size: 12px;
line-height: 1.1;
font-weight: bold;
}
a.arizona-logo {
background: hsla(0, 0%, 0%, 0) url(http://www.arizona.edu/sites/all/themes/custom/ua_theme/images/ua-logo.svg) no-repeat;
background-image: url(http://www.arizona.edu/sites/all/themes/custom/ua_theme/images/ua-logo.svg);
color: hsla(0, 0%, 0%, 0);
font-size: 0;
max-width: 256px;
height: 58px;
display: block;
margin-bottom: 38px;
background-size: 100%;
}
.small {
font-size: 12px;
}
footer h5 {
font-family: MiloWeb,sans-serif;
font-weight: bold;
font-size: 14.167px;
line-height: 1.2;
color: hsl(0, 0%, 20%);
text-transform: uppercase;
}
section#information {
padding-bottom: 40px;
}
section.over-scroll.on {
top:0%;
}
ul.medium a {
color: hsl(0, 0%, 20%);
font-weight: normal;
text-decoration: none;
font-size: 14px;
line-height: 2;
vertical-align: top;
}
.centered-text{
text-align: center;
}
.news-data-toggle {
float: left;
margin-left: 15px;
}
/*Form Elements*/
.switch {
  position: relative;
  margin: 20px auto;
  height: 26px;
  width: 120px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
}

.switch-label {
  position: relative;
  z-index: 2;
  float: left;
  width: 58px;
  line-height: 26px;
  font-size: 11px;
  color: rgba(255, 255, 255, 0.35);
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
  cursor: pointer;
}
.switch-label:active {
  font-weight: bold;
}

.switch-label-off {
  padding-left: 2px;
}

.switch-label-on {
  padding-right: 2px;
}

/*
 * Note: using adjacent or general sibling selectors combined with
 *       pseudo classes doesn't work in Safari 5.0 and Chrome 12.
 *       See this article for more info and a potential fix:
 *       http://css-tricks.com/webkit-sibling-bug/
 */
.switch-input {
  display: none;
}
.campus .checkbox-label {
padding: 0px 0;
}
.checkbox-label {
    width: 148px;
    display: inline-block;
    margin-left: 10px;
    overflow: visible;
    font-size: 13px;
    -webkit-transition: all .9s ease;
       -moz-transition: all .9s ease;
         -o-transition: all .9s ease;
            transition: all .9s ease;
padding: 10px 0;
}
.mobi-reveal .checkbox-label {
   font-size: 13px;
}
.switch-input:checked + .switch-label {
    font-weight: bold;
    color: #FFF;
    text-shadow: 0 1px rgba(255, 255, 255, 0.25);
    -webkit-transition: 0.15s ease-out;
    -moz-transition: 0.15s ease-out;
    -o-transition: 0.15s ease-out;
    transition: 0.15s ease-out;
    letter-spacing: 0.7px;
}
.switch-input:checked + .switch-label-on ~ .switch-selection {
  left: 60px;
  /* Note: left: 50% doesn't transition in WebKit */
}

.switch-selection {
    display: block;
    position: absolute;
    z-index: 1;
    top: 2px;
    left: 2px;
    width: 58px;
    height: 22px;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
    -webkit-transition: left 0.15s ease-out;
    -moz-transition: left 0.15s ease-out;
    -o-transition: left 0.15s ease-out;
    transition: left 0.15s ease-out;
    background: #AB0520;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left, #ab0520 0%, #790317 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#AB0520), color-stop(100%,#790317));
    background: -webkit-linear-gradient(left, #AB0520 0%,#790317 100%);
    background: -o-linear-gradient(left, #ab0520 0%,#790317 100%);
    background: -ms-linear-gradient(left, #ab0520 0%,#790317 100%);
    background: linear-gradient(to right, #AB0520 0%,#790317 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ab0520', endColorstr='#790317',GradientType=1 );
    /* color: #FFF; */
}
.switch-blue .switch-selection {
  background: #3aa2d0;
  background-image: -webkit-linear-gradient(top, #4fc9ee, #3aa2d0);
  background-image: -moz-linear-gradient(top, #4fc9ee, #3aa2d0);
  background-image: -o-linear-gradient(top, #4fc9ee, #3aa2d0);
  background-image: linear-gradient(to bottom, #4fc9ee, #3aa2d0);
}
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
position: absolute;
top: 8px;
left: 43px;
margin-top: 9px;
margin-left: -16px;
width: 1px;
height: 1px;
outline: 0;
opacity: 0.01;
}
.radio label, .checkbox label {
    /* position: relative; */
    display: inline-block;
    margin-right: 0px;
    margin-bottom: 0;
    padding-left: 0px;
    font-weight: normal;
    font-size: 1em;
    cursor: pointer;
    cursor: pointer;
}

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    float: right;
    margin-left: 0px;
}
.radio label, .checkbox label {
    display: inline-block;
    margin-bottom: 0px;
    font-weight: normal;
    cursor: pointer;
    font-size: 11px;
    letter-spacing: 0.8px;
    vertical-align: top;
}
/*.radio label:after, .checkbox label:after {*/
    /*position: absolute;*/
    /*top: 0;*/
    /*right: -10px;*/
    /*display: inline-block;*/
    /*margin-right: 10px;*/
    /*width: 13px;*/
    /*height: 13px;*/
    /*background-color: #EEF1F0;*/
    /*box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.2),0px 1px 0px 0px rgba(255, 255, 255, 0.8);*/
    /*content: "";*/
    /*text-align: center;*/
    /*font-size: 1.6em;*/
    /*line-height: 0.6;*/
/*}*/
/*input[type=checkbox]:checked, input[type=checkbox]:checked + label:after {*/
    /*outline: 0;*/
    /*color: #71878E;*/
    /*content: "\2713";*/
    /*text-align: center;*/
    /*text-align: center;*/
    /*text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);*/
    /*font-size: 1em;*/
    /*line-height: 13px;*/
/*}*/
input[type=checkbox]:checked, input[type=checkbox]:checked + label:after {
    outline: 0;
    color: #71878E;
    content: "\2713";
    text-align: center;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    font-size: 1em;
    line-height: 13px;
    left: -100%;
    position: absolute;
}
label.header {
    background: #AB0520;
    color: #FFF;
    margin-bottom: 0px;
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
    text-transform: uppercase;
    padding: 3px;
    font-weight: normal;
    font-size: 13px;
    letter-spacing: 1px;
    position: relative;
    z-index: 1;
}
label.header .checkbox-label{
width: 148px;
display: inline-block;
margin-left: 10px;
overflow: visible;
font-size: 13px;
-webkit-transition: all .9s ease;
-moz-transition: all .9s ease;
-o-transition: all .9s ease;
transition: all .9s ease;
padding: 0px 0;
}
.icons-toggle {
    /*padding: 10px;*/
}
.controls-box {
    position: fixed;
    width: 40px;
    height: 45px;
    top: 105px;
    right: 5px;
    color: hsl(0, 100%, 100%);
    font-size: 30px;
    line-height: 1em;
    z-index: 9;
}
.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 10px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    /* -webkit-transition: all .2s ease-in-out; */
    /* -o-transition: all .2s ease-in-out; */
    /* transition: all .2s ease-in-out; */
    margin-top: 20px;
}
.controls-box div {
    padding: 0px 11px;
}
.plus {
    background: #333;
    border-top-left-radius: 8px;
    border: 1px solid #333;
    border-top-right-radius: 8px;
}
.minus span {
    position: absolute;
    top: -15px;
}
.minus {
    background: #6F868D;
    border-bottom-left-radius: 8px;
    border: 1px solid #6F868D;
    border-bottom-right-radius: 8px;
    position: relative;
    height: 30px;
}
.controls-box div.question {
    padding: 1px 13px;
}
.question {
    background: hsl(0, 0%, 94%);
    border-radius: 4px;
    border-width: 1px;
    margin-top: 15px;
    font-size: 24px;
    height: 35px;
    color: hsl(0, 0%, 20%);
    font-weight: bold;
    line-height: 34px;
    -webkit-box-shadow: 10px 3px 71px -8px hsla(0, 0%, 20%, 0.5);
    -moz-box-shadow: 10px 3px 71px -8px rgba(51,51,51,0.5);
    box-shadow: 10px 3px 71px -8px hsla(0, 0%, 20%, 0.1);
    border-style: solid;
    border-color: hsl(0, 0%, 88%) hsl(0, 0%, 90%) hsl(0, 0%, 91%) hsl(0, 0%, 94%);
}
.menu-toggle {
background: #333;
border-radius: 6px;
border: 0px solid #AB0520;
margin-top: 10px;
font-size: 20px;
position: relative;
top: 0px;
z-index: -1;
    -webkit-transition: all ease-out .3s;
       -moz-transition: all ease-out .3s;
         -o-transition: all ease-out .3s;
}
.controls-box .menu-toggle i {
    font-size: 16px;
}
.data-drawer-toggle {
background: #333;
border-radius: 6px;
border: 0px solid #AB0520;
margin-top: 10px;
font-size: 20px;
z-index: -1;
position: relative;
top: 0px;
    -webkit-transition: all ease-out .3s;
       -moz-transition: all ease-out .3s;
         -o-transition: all ease-out .3s;
}

#leftDrawer.mobi-reveal {
    left: 0px;
}

#rightDrawer.mobi-reveal{
right: 15px;
}

/*.icons-toggle label:before {*/
    /*content: '';*/
    /*display: inline-block;*/
    /*height: 23px;*/
    /*width: 23px;*/
    /*background: rgba(0, 0, 0, 0);*/
    /*background-image: url(../img/icons.svg);*/
    /*background-size: 175px;*/
    /*margin-right: 10px;*/
/*}*/
input[type=checkbox] + label.all-arizona .drawer-control {
    background-color: hsl(0, 0%, 20%);
}
.drawer-control{
    right: -36px;
}
.drawer-control {
    position: absolute;
    right: -35px;
    top: 0;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    margin: 0;
    padding: 0;
    display: inline-block;
    height: 35px;
    width: 35px;
    background: hsla(0, 0%, 0%, 0);
    background-size: 175px;
    color: white;
    font-weight: bold;
    padding: 9px 11px;
}
.indicator-button {
    position: absolute;
    right: -57px;
    top: 0;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    margin: 0;
    padding: 0;
    display: inline-block;
    height: 35px;
    width: 35px;
    background: hsla(0, 0%, 0%, 0);
    background-size: 175px;
    color: white;
    font-weight: bold;
    padding: 9px 11px;
}
.indicator-button {
    right: -35px;
    -webkit-box-shadow: 10px 3px 71px -8px rgba(51,51,51,0.5);
    -moz-box-shadow: 10px 3px 71px -8px rgba(51,51,51,0.5);
    box-shadow: 10px 3px 71px -8px rgba(51,51,51,0.5);
}
label.campus .indicator-button {
padding: 5px 0px 0px 3px;
}
.indicated .indicator-button {
    content: '';
    display: block;
    height: 35px;
    width: 35px;
    top: 0;
    position: absolute;
    background:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow:none;
    box-shadow: none;
}
input[type=checkbox]:checked + label.news {
    background-color: rgb(12, 35, 75);
}
input[type=checkbox]:checked + label.academic-sites {
    background-color: rgb(171, 5, 32);
}
input[type=checkbox]:checked + label.campus {
    background-color: hsla(0, 100%, 100%, 0.8);
}
input[type=checkbox]:checked + label.extensions {
    background-color: rgb(73, 89, 94);
}
input[type=checkbox]:checked + label.research {
 background-color:rgba(92, 135, 39,1);
}
input[type=checkbox]:checked + label.prominent {
 background-color:rgba(183, 85, 39,1);
}
input[type=checkbox]:checked + label.telemedicine {
 background-color:rgba(7, 104, 115, 1);
}
input[type=checkbox]:checked + label.all-arizona {
    background-color: hsla(0, 0%, 20%,1);
}
input[type=checkbox]:checked + label.drawer-control {
    background-color: #0C234B;
}
input[type=checkbox]:checked + label.news .indicator-button {
 background-color: rgba(12, 35, 75, 1);
}
input[type=checkbox]:checked + label.academic-sites .indicator-button {
    background-color: rgb(171, 5, 32);
}
input[type=checkbox]:checked + label.campus .indicator-button {
    background-color: hsla(0, 100%, 100%, 0.8);
}
input[type=checkbox]:checked + label.extensions  .indicator-button{
    background-color: rgb(73, 89, 94);
}
input[type=checkbox]:checked + label.research  .indicator-button{
 background-color:rgba(92, 135, 39,1);
}
input[type=checkbox]:checked + label.prominent .indicator-button {
 background-color:rgba(183, 85, 39,1);
}
input[type=checkbox]:checked + label.telemedicine .indicator-button {
 background-color:rgba(7, 104, 115, 1);
}
input[type=checkbox]:checked + label.all-arizona .indicator-button {
    background-color: #0C234B;
}
input[type=checkbox] + label.news .indicator-button {
    background-color: rgba(12, 35, 75, .6);
}
input[type=checkbox] + label.academic-sites .indicator-button {
    background-color: rgba(171, 5, 32,.6);
}
input[type=checkbox] + label.campus  .indicator-button{
background-color: rgba(255, 255, 255, .1);
}
input[type=checkbox] + label.extensions  .indicator-button{
   background-color: rgba(73, 89, 94, .6);
}
input[type=checkbox] + label.research  .indicator-button{
 background-color:rgba(92, 135, 39,.6);
}
input[type=checkbox] + label.prominent .indicator-button {
 background-color:rgba(183, 85, 39,.6);
}
input[type=checkbox] + label.telemedicine .indicator-button {
 background-color:rgba(7, 104, 115, .6);
}
input[type=checkbox] + label.all-arizona .indicator-button {
    background-color: rgba(12, 35, 75,.6);
}
input[type=checkbox] + label.news {
    background-color: rgba(12, 35, 75, .6);
}
input[type=checkbox] + label.academic-sites {
    background-color: rgba(171, 5, 32,.6);
}
input[type=checkbox] + label.campus{
background-color: rgba(255, 255, 255, .1);
}
input[type=checkbox] + label.extensions {
    background-color: rgba(73, 89, 94, .6);
}
input[type=checkbox] + label.research{
 background-color:rgba(92, 135, 39,.6);
}
input[type=checkbox] + label.prominent {
 background-color:rgba(183, 85, 39,.6);
}
input[type=checkbox] + label.telemedicine {
 background-color:rgba(7, 104, 115, .6);
}
input[type=checkbox] + label.all-arizona {
    background-color: hsla(0, 0%, 20%,1);
}
.indicated input[type=checkbox]:checked + label .indicator-button .ua-brand-checkmark {
    display:block;
}
input[type=checkbox]:checked + label .indicator-button .ua-brand-checkmark {
    display:block;
}
.indicated input[type=checkbox] + label .indicator-button .ua-brand-checkmark {
    display:none;
}
input[type=checkbox] + label .indicator-button .ua-brand-checkmark {
    display:none;
}
.indicated input[type=checkbox]:checked + label.news .indicator-button {
 background-color:transparent;
}
.indicated input[type=checkbox]:checked + label.academic-sites .indicator-button {
 background-color:transparent;
}
.indicated input[type=checkbox]:checked + label.campus  .indicator-button{
 background-color:transparent;
}
.indicated input[type=checkbox]:checked + label.extensions  .indicator-button{
 background-color:transparent;
}
.indicated input[type=checkbox]:checked + label.research  .indicator-button{
 background-color:transparent;
}
.indicated input[type=checkbox]:checked + label.prominent .indicator-button {
 background-color:transparent;
}
.indicated input[type=checkbox]:checked + label.telemedicine .indicator-button {
 background-color:transparent;
}
.indicated input[type=checkbox] + label.news .indicator-button {
 background-color:transparent;
}
.indicated input[type=checkbox] + label.academic-sites .indicator-button {
 background-color:transparent;
}
.indicated input[type=checkbox] + label.campus  .indicator-button{
 background-color:transparent;
}
.indicated input[type=checkbox] + label.extensions  .indicator-button{
 background-color:transparent;
}
.indicated input[type=checkbox] + label.research  .indicator-button{
 background-color:transparent;
}
.indicated input[type=checkbox] + label.prominent .indicator-button {
 background-color:transparent;
}
.indicated input[type=checkbox] + label.telemedicine .indicator-button {
 background-color:transparent;
}
 .region-layer .indicator-button {
 color:#333333;
 background-color:#f7f5f5;
}
.indicated .region-layer .indicator-button {
 color:transparent;
 background-color:transparent;
 -webkit-box-shadow: none;
 -moz-box-shadow: none;
 box-shadow: none;
}
.county-toggle {
 background-color:#f7f5f5;
 border-top: 1px solid transparent;
 border-right: 0px solid transparent;
 margin-right: 0px;
}
.state-leg-toggle {
 background-color:#f7f5f5;
border-top: 1px solid transparent;
 border-right: 0px solid transparent;
 margin-right: 0px;
}
.federal-leg-toggle {
 border-top: 1px solid transparent;
 border-right: 0px solid transparent;
 background-color:#f7f5f5;
 margin-right: 0px;
}
.news:checked + .news .indicator-button {
 background-color:rgba(12,35,75,1);
}
.academic-sites .indicator-button {
 background-color:#086873;
}
.campus .indicator-button {
 background-color:#84D2E1;
}
.extensions .indicator-button {
 background-color:#B85527;
}
.research .indicator-button{
 background-color:#4A3027;
}
.prominent .indicator-button {
 background-color:#B6BDC1;
}
.telemedicine .indicator-button {
 background-color:#5C873C;
}
.indicated .county-toggle .indicator-button {
 background-color:transparent;
}
.indicated .state-leg-toggle .indicator-button {
 background-color:transparent;
}
.indicated .federal-leg-toggle .indicator-button {
 background-color:transparent;
}
.indicated .indicator-button {
 background-color:transparent;
}
.indicated .indicator-button {
    color:transparent;
}
.indicated .indicator-button i {
    color:white;
}
/*.indicated .academic-sites .indicator-button {*/
 /*background-color:transparent;*/
/*}*/
/*.indicated .campus .indicator-button {*/
 /*background-color:transparent;*/
/*}*/
/*.indicated .extensions .indicator-button {*/
 /*background-color:transparent;*/
/*}*/
/*.indicated .research .indicator-button{*/
 /*background-color:transparent;*/
/*}*/
/*.indicated .prominent .indicator-button {*/
 /*background-color:transparent;*/
/*}*/
/*.indicated .telemedicine .indicator-button {*/
 /*background-color:transparent;*/
/*}*/
.mobi-reveal .drawer-control {
    right: 0px;
}
.mobi-reveal .indicator-button {
    right: 0px;
}
.icons-toggle div.academic-sites {
    background-position: 73px 0px;
}
.icons-toggle div.news {
    background-position: 125px 0px;
}
.icons-toggle div.campus {
    background-position: 98px 0px;
}
.icons-toggle div.telemedicine {
    background-position: 197px 0px;
}
.icons-toggle div.prominent {
    background-position: 150px 0px;
}
.icons-toggle div.extensions {
    background-position: 174px 0px;
}
.icons-toggle label.news:before {
    background-position: -50px 0px;
}
.icons-toggle label.campus:before {
    background-position: 98px 0px;
}
.icons-toggle label.extensions:before {
    background-position: 175px 0px;
}
.icons-toggle label.prominent:before {
    background-position: -25px 0px;
}
.icons-toggle label.telemedicine:before {
    background-position: 197px 0px;
}
.icons-toggle.icons-toggle div.research {
    background-position: 47px 0;
}
.radio, .checkbox {
    position: relative;
    display: block;
    min-height: 35px;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 15px;
}
.checkrow {
    display: block;
    position: relative;
    clear: both;
    padding: 0px;
}
label {
    width: 130px;
    display: inline-block;
    font-weight: normal;
    cursor: pointer;
    font-size: 11px;
    letter-spacing: 0.8px;
    vertical-align: top;
    float: left;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0;
}
img.layer-button {
 display:none;
 }
.current-layer {
    background: rgb(183, 191, 194);

}
.current-layer h6 {
/*color:white;*/
}
.current-layer .indicator-button {
/*color:white;*/
    background: rgb(183, 191, 194);
}
.square:hover {
    background: rgb(183, 191, 194);
}
/*.square:hover h6 {*/
    /*color:#ffffff;*/
/*}*/
.indicated .square:hover .indicator-button {
    color:transparent;
    background:transparent;
}
.square:hover .indicator-button {
    color: #ffffff;
    background: #0c234b;
}
.square:hover .indicator-button {
    color:#ffffff;
    background: rgb(183, 191, 194);
}
.square {
    /*-webkit-transition: all ease-out .3s;*/
       /*-moz-transition: all ease-out .3s;*/
         /*-o-transition: all ease-out .3s;*/
            /*transition: all ease-out .3s;*/
height: 36px;
}
.county-toggle .thumbnail {
display:none;
}
.federal-leg-toggle .thumbnail {
display:none;
}
.state-leg-toggle .thumbnail {
display:none;
}


/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

/* Icon Fonts
*********************************/
/* Font-face Icons */
@font-face {
    font-family: 'flexslider-icon';
    src:url('fonts/flexslider-icon.eot');
    src:url('fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'),
        url('fonts/flexslider-icon.woff') format('woff'),
        url('fonts/flexslider-icon.ttf') format('truetype'),
        url('fonts/flexslider-icon.svg#flexslider-icon') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {
    margin: 0;
    padding: 0;
    margin-right: 30%;
    padding-left: 10px;
    background: rgb(73, 89, 94);
}
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/
.flexslider { position: relative; zoom: 1; }
.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { max-height: 300px; }
.flexslider .slides { zoom: 1; }
.carousel li { margin-right: 5px; }

/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a {
    position: absolute !important;
    text-decoration: none;
    display: block;
    width: 35px;
    height: 35px;
    margin: -20px 0 0;
    position: absolute;
    top: 50%;
    z-index: 10;
    overflow: hidden;
    opacity: 0;
    cursor: pointer;
    color: white;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.3);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    font-size: 23px;
    background: #ab0520;
    padding-top: 5px;
}
.flex-direction-nav .flex-prev { left: -50px; }
.flex-direction-nav .flex-next { right: -50px; text-align: right; }
.flexslider:hover .flex-prev { opacity: 0.7; left: 10px; }
.flexslider:hover .flex-next { opacity: 0.7; right: 0px; }
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { opacity: 1; }
.flex-direction-nav .flex-disabled { opacity: 0!important; filter:alpha(opacity=0); cursor: default; }
.flex-direction-nav a:before  { font-size: 40px; display: inline-block; }
.flex-direction-nav a.flex-next:before  {}

/* Pause/Play */
.flex-pauseplay a { display: block; width: 20px; height: 20px; position: absolute; bottom: 5px; left: 10px; opacity: 0.8; z-index: 10; overflow: hidden; cursor: pointer; color: #000; }
.flex-pauseplay a:before  { font-family: "flexslider-icon"; font-size: 20px; display: inline-block;}
.flex-pauseplay a:hover  { opacity: 1; }

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -o-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); box-shadow: inset 0 0 3px rgba(0,0,0,0.3); }
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}


.modal-open {
  overflow: hidden;
}
.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
.modal-content {
position: relative;
background-color: hsla(0, 100%, 100%, 0.99);
border: 1px solid hsl(0, 0%, 60%);
border: 1px solid hsla(0, 0%, 0%, 0.2);
border-radius: 1px;
-webkit-box-shadow: 0 3px 9px hsla(0, 0%, 0%, 0.1);
box-shadow: 0 3px 9px hsla(0, 0%, 0%, 0.1);
background-clip: padding-box;
outline: 0;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
}
.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}
.modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  min-height: 16.42857143px;
}
.modal-header .close {
  margin-top: -2px;
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
}
.modal-body {
position: relative;
padding: 30px 40px;
}
.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
/*BUTTONS*/
.btn {
  display: inline-block;
  padding: 0.5em 1em;
  margin-bottom: 0;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: none;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus {
  color: #333;
  text-decoration: none;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
}
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #fff;
  border-color: #ccc;
}
.btn-default .badge {
  color: #fff;
  background-color: #333;
}
.btn-link {
  font-weight: normal;
  color: #428bca;
  cursor: pointer;
  border-radius: 0;
}
.btn-link,
.btn-link:active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  border-color: transparent;
}
.btn-link:hover,
.btn-link:focus {
  color: #2a6496;
  text-decoration: underline;
  background-color: transparent;
}
.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
  color: #777;
  text-decoration: none;
}
/* UA BUTTONS */
.btn-red {
  color: #FFFFFF;
  background-color: #AB0520;
  border-color: #63000B;
}

.btn-red:hover,
.btn-red:focus,
.btn-red:active,
.btn-red.active,
.open .dropdown-toggle.btn-red {
  color: #FFFFFF;
  background-color: #63000B;
  border-color: #63000B;
}

.btn-red:active,
.btn-red.active,
.open .dropdown-toggle.btn-red {
  background-image: none;
}

.btn-red.disabled,
.btn-red[disabled],
fieldset[disabled] .btn-red,
.btn-red.disabled:hover,
.btn-red[disabled]:hover,
fieldset[disabled] .btn-red:hover,
.btn-red.disabled:focus,
.btn-red[disabled]:focus,
fieldset[disabled] .btn-red:focus,
.btn-red.disabled:active,
.btn-red[disabled]:active,
fieldset[disabled] .btn-red:active,
.btn-red.disabled.active,
.btn-red[disabled].active,
fieldset[disabled] .btn-red.active {
  background-color: #AB0520;
  border-color: #63000B;
}

.btn-red .badge {
  color: #AB0520;
  background-color: #FFFFFF;
}
.btn-sky {
  color: #FFFFFF;
  background-color: #84D2E2;
  border-color: #5C939E;
}

.btn-sky:hover,
.btn-sky:focus,
.btn-sky:active,
.btn-sky.active,
.open .dropdown-toggle.btn-sky {
  color: #FFFFFF;
  background-color: #5C939E;
  border-color: #5C939E;
}

.btn-sky:active,
.btn-sky.active,
.open .dropdown-toggle.btn-sky {
  background-image: none;
}

.btn-sky.disabled,
.btn-sky[disabled],
fieldset[disabled] .btn-sky,
.btn-sky.disabled:hover,
.btn-sky[disabled]:hover,
fieldset[disabled] .btn-sky:hover,
.btn-sky.disabled:focus,
.btn-sky[disabled]:focus,
fieldset[disabled] .btn-sky:focus,
.btn-sky.disabled:active,
.btn-sky[disabled]:active,
fieldset[disabled] .btn-sky:active,
.btn-sky.disabled.active,
.btn-sky[disabled].active,
fieldset[disabled] .btn-sky.active {
  background-color: #84D2E2;
  border-color: #5C939E;
}

.btn-sky .badge {
  color: #84D2E2;
  background-color: #FFFFFF;
}
@media (min-width: 768px) {
    .modal-dialog {
        width: 600px;
        margin: 45px auto;
    }
    .modal-content {
        -webkit-box-shadow: 0 5px 15px hsla(0, 0%, 0%, 0.2);
        box-shadow: 0 5px 15px hsla(0, 0%, 0%, 0.2);
    }
  .modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}
.clearfix:before,
.clearfix:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}
.clearfix:after,
.modal-footer:after {
  clear: both;
}
.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  visibility: visible;
  font-size: 12px;
  line-height: 1.4;
  opacity: 0;
  filter: alpha(opacity=0);
}
.tooltip.in {
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.tooltip.top {
  margin-top: -3px;
  padding: 5px 0;
}
.tooltip.right {
  margin-left: 3px;
  padding: 0 5px;
}
.tooltip.bottom {
  margin-top: 3px;
  padding: 5px 0;
}
.tooltip.left {
  margin-left: -3px;
  padding: 0 5px;
}
.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #000000;
  border-radius: 4px;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000000;
}
.tooltip.top-left .tooltip-arrow {
  bottom: 0;
  left: 5px;
  border-width: 5px 5px 0;
  border-top-color: #000000;
}
.tooltip.top-right .tooltip-arrow {
  bottom: 0;
  right: 5px;
  border-width: 5px 5px 0;
  border-top-color: #000000;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000000;
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000000;
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000000;
}
.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  left: 5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000000;
}
.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  right: 5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000000;
}




@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev { opacity: 1; left: 10px;}
  .flex-direction-nav .flex-next { opacity: 1; right: 0px;}
}

@media (min-width: 768px) {
.name-container{
display:none;
}
a.up-down-pointer {
z-index: -100;
}
a.up-down-pointer.active {
    z-index: 100;
}
.slider{display:none;}
.overmap-content-map {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    /*padding: 21% 20%;*/
    background-image: url(../img/FULL_SIZED_SPLASH-PAGE.jpg);
    background-repeat: no-repeat;
      background: url(../img/FULL_SIZED_SPLASH-PAGE.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
          -moz-background-size: cover;
            -o-background-size: cover;
              background-size: cover;

}
#over_map img, .impact-splash-image {
    width: 100%;
    /* height: 600px; */
    max-width: 100%;
}
.impact-splash-image {
text-indent: -100%;
}
    .impact-title {
    display:block;
    }
.controls-box {
position: fixed;
width: 40px;
height: 90px;
top: 85px;
right: 10px;
color: hsl(0, 100%, 100%);
font-size: 30px;
line-height: 1em;
z-index: 9;
}
div#map-canvas_zoom_slider {
    position: fixed;
    width: 40px;
    /* height: 90px; */
    top: 49px;
    right: auto;
    color: hsl(0, 100%, 100%);
    font-size: 30px;
    line-height: 1em;
    z-index: 9;
    left: 40px !important;
}
.controls-box {
    position: fixed;
    width: 40px;
    height: 90px;
    top: 104px;
    right: auto;
    color: hsl(0, 100%, 100%);
    font-size: 30px;
    line-height: 1em;
    z-index: 9;
    left: 40px;
    padding-top: 0px;
}
    #rightDrawer.right-reveal {
        right: 0px;
    }
.overmap-content-map .centered {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);

-moz-transform: translate(-50%, -50%);
-webkit-transform:  translate(-50%, -50%);
-o-transform:       translate(-50%, -50%);
-ms-transform:      translate(-50%, -50%);
    width: 60%;
    height: 60%;
}

}
@media (min-width: 992px) {
/*.indicated .indicator-button {*/
    /*display: block;*/
/*}*/
    .photoshop-transparency {
        padding-top: 40px;
        background-position: 0 40px;
    }
    a.up-down-pointer.active {
    /*margin-top:78px;*/
    margin-top: 40px;
}
section.over-scroll {
/*margin-top: 79px;*/
    margin-top: 40px;
}
.overmap-content-map .centered {
position: absolute;
left: 50%;
top: 30%;
transform: translate(-50%, -50%);
-moz-transform: translate(-50%, -50%);
-webkit-transform:  translate(-50%, -50%);
-o-transform:       translate(-50%, -50%);
-ms-transform:      translate(-50%, -50%);
width: 40%;
height: 40%;
max-width: 800px;
max-height: 600px;
}

    .square:hover .indicator-button {
        color: transparent;
        background: transparent;
    }
    .left-reveal .square:hover .region-layer .indicator-button {
   color: transparent;
   background-color: transparent;
   -webkit-box-shadow: none;
   -moz-box-shadow: none;
   box-shadow: none;
   }
    .region-layer .indicator-button {
        color: transparent;
        background: transparent;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
.impact-title img {
    /*max-width: 150px;*/
    /*float: none;*/
    /*margin: 8px 0;*/
    /*max-width: 100%;*/
    /*text-align: center;*/
    /*margin: 10px auto;*/
    /*width: 225px;*/
}
div#map-canvas_zoom_slider {
    position: fixed;
    width: 40px;
    /* height: 90px; */
    top: 92px;
    right: auto;
    color: hsl(0, 100%, 100%);
    font-size: 30px;
    line-height: 1em;
    z-index: 9;
    left: 190px !important;
}
.controls-box {
    position: fixed;
    width: 40px;
    height: 47px;
    top: 150px;
    right: auto;
    color: hsl(0, 100%, 100%);
    font-size: 30px;
    line-height: 1em;
    z-index: 9;
    left: 190px;
    padding-top: 0px;
}
#rightDrawer {
    top: 90px;
}
#leftDrawer {
    top: 90px;
}
#up-down a.up-down-pointer {
position: fixed;
height: 50px;
width: 50px;
background: #0c234b;
z-index: 99;
right: 10px;
top: 94%;
display: table-cell;
padding: 15px 8px;
font-size: 32px;
text-decoration: none;
color: white;
font-size: 19px;
z-index: 10000;
}
#up-down a.up-down-pointer i {
    -moz-transform: scale(1) rotate(180deg) translate(0px, 0px) skew(0deg, 0deg);
    -webkit-transform: scale(1) rotate(180deg) translate(0px, 0px) skew(0deg, 0deg);
    -o-transform: scale(1) rotate(180deg) translate(0px, 0px) skew(0deg, 0deg);
    -ms-transform: scale(1) rotate(180deg) translate(0px, 0px) skew(0deg, 0deg);
    transform: scale(1) rotate(180deg) translate(0px, 0px) skew(0deg, 0deg);
    transition: transform 1s;
}
#up-down.down a.up-down-pointer i {
    -moz-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
    -webkit-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
    -o-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
    -ms-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
    transform: scale(1) rotate(0deg) translate(0px, 0px) skew(0deg, 0deg);
    transition: transform 1s;
}
    header {
    /*padding-top: 15px;*/
    width: 100%;
    /*min-height: 78px;*/
    position: fixed;
    z-index: 100;
}
    .left-reveal .indicator-button {
    right: 0px;
    }
    #leftDrawer.left-reveal {
    left: -1px;
    }
    .checkbox-label {
    font-size: 13px;
    }
    .menu-toggle {
    top: -42px;
    z-index: -1;
    -webkit-transition: all ease-out .3s;
       -moz-transition: all ease-out .3s;
         -o-transition: all ease-out .3s;
    }
    .data-drawer-toggle {
    z-index: -1;
    top: -84px;
    -webkit-transition: all ease-out .3s;
       -moz-transition: all ease-out .3s;
         -o-transition: all ease-out .3s;
    }

.county-toggle .indicator-button {
 background-color:transparent;
}
.state-leg-toggle .indicator-button {
 background-color:transparent;
}
.federal-leg-toggle .indicator-button {
 background-color:transparent;
}
.news .indicator-button {
 background-color:transparent;
}
.academic-sites .indicator-button {
 background-color:transparent;
}
.campus .indicator-button {
 background-color:transparent;
}
.extensions .indicator-button {
 background-color:transparent;
}
.research .indicator-button{
 background-color:transparent;
}
.prominent .indicator-button {
 background-color:transparent;
}
.telemedicine .indicator-button {
 background-color:transparent;
}
input[type=checkbox]:checked + label.news .indicator-button {
 background-color:transparent;
}
input[type=checkbox]:checked + label.academic-sites .indicator-button {
 background-color:transparent;
}
input[type=checkbox]:checked + label.campus  .indicator-button{
 background-color:transparent;
}
input[type=checkbox]:checked + label.extensions  .indicator-button{
 background-color:transparent;
}
input[type=checkbox]:checked + label.research  .indicator-button{
 background-color:transparent;
}
input[type=checkbox]:checked + label.prominent .indicator-button {
 background-color:transparent;
}
input[type=checkbox]:checked + label.telemedicine .indicator-button {
 background-color:transparent;
}
input[type=checkbox] + label.news .indicator-button {
 background-color:transparent;
}
input[type=checkbox] + label.academic-sites .indicator-button {
 background-color:transparent;
}
input[type=checkbox] + label.campus .indicator-button{
 background-color:transparent;
}
input[type=checkbox] + label.extensions .indicator-button{
 background-color:transparent;
}
input[type=checkbox] + label.research .indicator-button{
 background-color:transparent;
}
input[type=checkbox] + label.prominent .indicator-button {
 background-color:transparent;
}
input[type=checkbox] + label.telemedicine .indicator-button {
 background-color:transparent;
}
.indicator-button{
/*display:none;*/
right:0px;
/*color:transparent;*/
}
    .mobile-drawer-control{
    display:none
    }
#leftDrawer {
    top:90px;
}
#rightDrawer {
    top: 90px;
}
}
@media (min-width: 1200px) and (min-height: 783px){
.county-toggle .thumbnail {
background-image: url('../img/county-toggle.svg');
width: 59px;
height: 70px;
background-color: transparent;
border: none;
border-radius: 0;
display:block;
}
.county-toggle:hover .thumbnail {
background-image: url('../img/county-toggle-hover.svg');
}
.state-leg-toggle .thumbnail {
background-image: url('../img/state-toggle.svg');
width: 59px;
height: 70px;
background-color: transparent;
border: none;
border-radius: 0;
display:block;
}
.state-leg-toggle:hover .thumbnail {
background-image: url('../img/state-toggle-hover.svg');
}
.federal-leg-toggle .thumbnail {
background-image: url('../img/federal-toggle.svg');
width: 59px;
height: 70px;
background-color: transparent;
border: none;
border-radius: 0;
display:block;
}
.federal-leg-toggle:hover .thumbnail {
background-image: url('../img/federal-toggle-hover.svg');
}
 img.layer-button {
 display:block;
 }
 .square {
     /* width: 11em; */
     height: 145px;
     /* -webkit-transition: all ease-out .3s; */
     /* -moz-transition: all ease-out .3s; */
     /* -o-transition: all ease-out .3s; */
     /* transition: all ease-out .3s; */
 }
}

@media (min-height: 800px){

#leftDrawer {
    top: 150px;
}
#rightDrawer {
    top: 150px;
}
div#map-canvas_zoom_slider {
    top: 150px;
}
.controls-box {
    top: 205px;
}
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
